body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: sans-serif;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}
